
<div class="margin-container">
<button mat-raised-button color="primary" (click)="openDialog()"> Add Tool </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="ModuleName">
      <th mat-header-cell *matHeaderCellDef> Module Name </th>
      <td mat-cell *matCellDef="let element"> {{element.ModuleName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Nooftools">
      <th mat-header-cell *matHeaderCellDef> No.of Tools </th>
      <td mat-cell *matCellDef="let element"> {{element.Nooftools}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="editAction">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element;let i = index;"><button mat-raised-button color="primary" (click)="EditDialog(element,i)" >Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="DeleteModuleClick(element)">Delete</button> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>