<h1 mat-dialog-title>Tool Information</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Module Name</mat-label>
    <input matInput [(ngModel)]="data.ModuleName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>No.of Tools</mat-label>
    <input matInput [(ngModel)]="data.Nooftool">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>