<td class="example-header-width">      
              
       {{ ToolName.ModuleName}}
      
</td>

<td *ngFor="let item of Tools; let i = index;" >      
              
        <input maxlength="1" class="example-txt-width" placeholder="Tool {{i+1}}" 
        value="" (keypress)="numberOnly($event)" (change)="Sum($event)" autocomplete="off"  [(ngModel)]='Tools[i].Tool'>
      
</td>
<td>     
        <input  class="example-txt-width" placeholder="Sum" value="" (keypress)="Onvalues($event)" autocomplete="off" [(ngModel)]="Toolsum">
</td>
