<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Plant Name</mat-label>
      <input matInput placeholder="RNAIPL" value="" autocomplete="off">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Work Station</mat-label>
        <input matInput placeholder="WS1" value="" autocomplete="off">
      </mat-form-field>
  </form>

  <mat-tab-group>
    <mat-tab label="Take the tool"><app-audit-tools ToolType="TakeTools"></app-audit-tools> </mat-tab>
    <mat-tab label="Use the tool"><app-audit-tools ToolType="UseTools"></app-audit-tools></mat-tab>

  </mat-tab-group>