

<mat-tab-group>
    <mat-tab label="Take the tool"><app-master-tools ToolType="TakeTools"></app-master-tools> </mat-tab>
    <mat-tab label="Use the tool"><app-master-tools ToolType="UseTools"></app-master-tools></mat-tab>

  </mat-tab-group>

    
