<mat-toolbar color="primary">
  <mat-toolbar-row>  
    <div>
      <a mat-button [routerLink]="'/home'"> Dashboard </a>
      <a mat-button [routerLink]="'/audit'"> Audit </a>
      <a mat-button [routerLink]="'/master'"> Master </a>
     </div>
  </mat-toolbar-row> 
</mat-toolbar>
<router-outlet></router-outlet>