<div class="row">
   <div class="column">    
    <google-chart #chart
   title="Take the Tool"
   [type]="type"
   [data]="TakeTool"
   [columnNames]="columnNames"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
</div>
<div class="column">
<google-chart #chart1
   title="Use the Tool"
   [type]="type"
   [data]="UseTool"
   [columnNames]="columnNames"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
</div>
</div>
