.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }